services:
  server:
    image: fauria/vsftpd
    container_name: server
    environment:
      FTP_USER: myuser
      FTP_PASS: mypass
      PASV_ADDRESS: 192.168.1.2
      PASV_MIN_PORT: 21100
      PASV_MAX_PORT: 21100
    volumes:
      - ./server_files:/home/vsftpd/myuser
    networks:
      inquisitor_net:
        ipv4_address: 192.168.1.2
    healthcheck:
      test: ["CMD", "pgrep", "vsftpd"]
      interval: 2s
      retries: 5

  client:
    build: ./client
    container_name: client
    depends_on:
      server:
        condition: service_healthy
    networks:
      inquisitor_net:
        ipv4_address: 192.168.1.3
    healthcheck:
      test: ["CMD", "which", "lftp"]
      interval: 2s
      retries: 5

  inquisitor:
    build: ./inquisitor
    container_name: inquisitor
    environment:
      - PYTHONUNBUFFERED=1
      - MAC_SERVER
      - MAC_CLIENT
      - IP_SERVER=192.168.1.2
      - IP_CLIENT=192.168.1.3
    depends_on:
      client:
        condition: service_healthy
    networks:
      inquisitor_net:
        ipv4_address: 192.168.1.4
    cap_add:
      - NET_ADMIN
      - NET_RAW
    sysctls:
      - net.ipv4.ip_forward=1
    

networks:
  inquisitor_net:
    driver: bridge
    enable_ipv4: true
    enable_ipv6: false
    ipam:
      config:
        - subnet: 192.168.1.0/29
